aniso8601==9.0.1
Click==8.0.1
Flask==2.0.1
Flask-JWT-Extended==4.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.0; python_version < '3.10'
Flask-SQLAlchemy==2.5.1; python_version >= '3.10'
itsdangerous==2.1.0
Jinja2==3.0.1
MarkupSafe==2.1.0
PyJWT==2.1.0
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
boto3==1.24.89
requests==2.27.1
Werkzeug==2.0.1
unittest2==1.1.0